/**
 * Every step element has one of three classes: `future`, `present` and `past`.
 * Only one current step has the `present` class.
 * When a step is shown (selected) its element gets the class of "active" and
 * the body element gets the class `impress-on-ID` where ID is the step's id.
 */

.notes {
    display:none;
}

.step .date{
    position: absolute;
    top: 0%;
    right: 0%;
    font-style: italic;
    font-size: 30px;
    padding-right: 43px;
    background: right center url('../img/clock.png') no-repeat;
}
.step h2 {
    font-size: 78px;
    font-weight: bold;
}
.step.inicio {
    text-align: center;
}
.step.inicio small{
    font-size: 48px;
}
.step.inicio .logo{
    width: 100px;
}

.step#prehistoria p{
    font-size: 30px;
}
.step#antiguedad img{
    height: 400px;
    margin-right: 30px;
}
.step#antiguedad p{
    font-size: 30px;
}

.step#medioevo p{
    font-size: 30px;
}
.step#medioevo img{
    height: 300px;
    margin-right: 30px;
}
